/* styles.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffdf9;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ec407a;
  padding: 10px 20px;
}

.logo img {
  height: 60px;
	scale: 130%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, transform 0.2s;
}

.nav-link:hover {
  background-color: #d81b60;
  transform: scale(1.1);
}

.nav-link:active {
  transform: scale(0.95);
}

.hero-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.productos {
  text-align: center;
  padding: 40px 20px;
}

.productos h2 {
  font-family: 'Georgia', cursive;
  font-size: 2em;
  margin-bottom: 30px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 150px;
  max-width: 900px;
  margin: auto;
}

.galeria div {
  text-align: center;
}

.galeria img {
  width: 200px;
  transition: transform 0.3s;
}

.galeria img:hover {
  transform: scale(1.5);
}

footer {
  background-color: #ec407a;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.nosotros{ text-align: center;
	margin-left: 100px;
	margin-right: 100px;
}
